main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.input-field {
    width: calc(50% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

.login-btn:hover {
    background-color: #45a049;
}

.register-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.register-btn:hover {
    background-color: #333;
    text-decoration: none;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 60%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}