body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 75px;
}

.title {
    flex: 1;
    text-align: center;
}

.title-link {
    color: #fff;
    text-decoration: none;
}

.title-link:hover {
    text-decoration: none;
}

// .logout-btn {
//     background-color: #f6bd88;
//     border: none;
//     color: white;
//     padding: 10px 20px;
//     text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 16px;
//     border-radius: 5px;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
// }

// .logout-btn:hover {
//     background-color: #9c7b42;
// }

.open-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 60px;
    transition: right 0.3s ease;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    padding: 10px 20px;
}

.side-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.close-menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.side-menu.show {
    right: 0;
}

/* to do */
.main-content {
    padding: 20px;
}

.recommendation-header {
    text-align: center;
    margin-top: 50px;
    // padding-left: 20px;
}

.recommendation-details-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shoe-photo {
    flex: 0 0 50%;
    padding-left: 20px;
}

.shoe-photo img {
    // max-width: 100%;
    max-width: 600px;
}

.shoe-description {
    flex: 0 0 50%;
    padding-left: 20px;
}

/* ------ */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    // position: fixed;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin-bottom: 20px;
}

footer nav ul {
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}