.main-content {
    padding: 20px;
}

.filter-header {
    text-align: center;
    margin-top: 50px;
}

#recommendation-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.filter-category {
    margin-right: 20px;
}

.filter-category h3 {
    margin-bottom: 5px;
    cursor: pointer;
}

.dropdown {
    display: none;
}

.dropdown label,
.dropdown .option {
    display: block;
    cursor: pointer;
}

.option.selected {
    background-color: #333;
}

@media screen and (max-width: 550px) {
    #recommendation-filter {
        flex-direction: column;
    }
}

.gallery-container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

// .title {
//     // margin-bottom: 2rem;
// }

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 0 20px 2px rgb(207, 200, 193);
    transition: 1s;
}

.photo:hover {
    transform: scale(1.05);
    // z-index: 2; no need for now
}

@media screen and (max-width:768px) {
    .photo-gallery {
        flex-direction: column;
    }
}
